@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
 
  }
}

body {

}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ribbon {
  background-color: rgba(217, 83, 79, 0.75); /* Transparent red */
  color: white;
  padding: 2px 8px;

  border-radius: 0 0.375rem 0.375rem 0; /* rounded-r-lg */
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, calc(100% - 16px) 100%, 0 100%);
}
